<!-- -->
<launch>
    <!--USER ARGS-->
    <arg name="rviz" default="true" /> 
    <arg name="speed" default="1" />
    <arg name="sec" default="0" />
    <arg name="sim_time" default="true" />
    
    <arg name="profiling" default="false" />
    <arg name="gdb" default="false" />
    <arg name="launch_pref" default="" unless="$(eval profiling or gdb)"/>
    <arg name="launch_pref" value="valgrind --tool=callgrind --callgrind-out-file='callgrind.wolf.%p'" if="$(arg profiling)" />
    <arg name="launch_pref" value="gdb -ex run --args" if="$(arg gdb)" />

    <!-- Convention used by all files -->
    <!-- <arg name="setup_name" default="simu" /> -->
    <arg name="setup_name" default="d435i" />
    <arg name="namespace_cam" value="camera/infra1" />
    <param name="topic_image_raw_in" value="/camera/infra1/image_rect_raw" />
    <param name="topic_image_info_out" value="/camera/infra1/camera_info" />
    <param name="camera_yaml_path" value="$(find wolf_demo_apriltag_imu)/yaml/camera_d435i_calib.yaml" />    
    <!-- Wolf autosetup file name -->
    <arg name="param_file" default="apriltag_vio_$(arg setup_name).yaml" />


    <remap from="/camera/infra1/image_raw" to="/camera/infra1/image_rect_raw" />

    <!--ROSBAG PLAY-->
    <!--if the bag argument is not set, no bag is read here-->
    <arg name="bag" default=""/>
    <group if="$(eval arg('bag') != '')">
        <param name="use_sim_time" value="$(arg sim_time)" />
        <node pkg="rosbag" 
            type="play" 
            name="player"
            required="true"
            args="-r $(arg speed) 
                    -s $(arg sec)
                    --clock
                    $(find wolf_demo_apriltag_imu)/bag/$(arg bag).bag"/>
    </group>

    
    <!--VISUALIZATION-->
    <group if="$(arg rviz)">
        <node name="rviz"
             pkg="rviz"
             type="rviz" 
             args="-d $(find wolf_demo_apriltag_imu)/rviz/$(arg setup_name).rviz" />
    </group>

    <!-- <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui"/> -->

    <node type="publisher_pose.py"
          name="publisher_pose"
          pkg="wolf_demo_apriltag_imu"
          >
    </node>

    <node type="publisher_camera_info.py"
          name="publisher_camera_info"
          pkg="wolf_ros_vision"
          >
    </node>

    <node type="image_proc"
          name="image_proc"
          pkg="image_proc"
          ns="$(arg namespace_cam)" />

    <!--WOLF-->
    <node type="wolf_ros_node" 
          name="wolf_ros_node" 
          pkg="wolf_ros_node"
          output="screen"
          required="true"
          launch-prefix="$(arg launch_pref)">
        <param name="~yaml_file_path" value="$(find wolf_demo_apriltag_imu)/yaml/$(arg param_file)" />
    </node>
</launch>
